* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #0A3871;
}

body {
    background-color: #E5E5E5;
}



.header {
    height: 12%;
}

.input-text {
    display: block;
    background: none;
    border: none;
    padding: 5px 10px 0 10px;
    resize: none;
    width: 100%;
    height: 100%;
    line-height: 1.1;
    outline: none;
    color: #0A3871;
    font-size: 32px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.output-container_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    background-color: #FFFFFF;
    border-radius: 35px;
    text-align: center;
}

.output-text {
    height: 100%;
    width: auto;
    margin: 32px 32px 0 32px;
    border: none;
    user-select: none;
    background: none;
    resize: none;
    color: #495057;
    font-size: 24px;
}

.output-text::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
}

.input-text::-webkit-scrollbar {
    width: 12px;
    background-color: #E5E5E5;
}

.output-text::-webkit-scrollbar-thumb,
.input-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0A3871;
}


.error-alert {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 15px;
}   

.output-alert{
    color: #000e;
}
.alert1{
    font-weight: 700;
}

/*BOTONES*/

.button {
    font-size: 20px;
    border-radius: 15px;
}

.button:hover{
    cursor: pointer;
}


.encrypt-button {
    background-color: #0A3871;
    color: #ffffff;
    border: none;
}



@media screen and (min-width:0px) {

    .output-container,
    .header,
    .principal-container {
        width: auto;
        padding: 0;
        display: block;
    }

    .header {
        padding: 0;
        margin: 0;
    }

    .header h1 {
        padding: 0;
        margin: 30px 10px 20px 10px;
    }

    .principal-container {
        margin-bottom: 20px;
    }

    .input-text_container {
        height: 52%;
    }

    .input-text_alert{
        font-size: .7rem;
        line-height: 1.5;
        margin-left: .8rem;
    }

    .buttons-container {
        flex-direction: column;
        margin: auto;
    }

    .button{
        display: inline-block;
        padding: 1rem;
        margin: 0 1rem;
        width: auto;
    }

    .output-container {
        margin: .5rem;
        height: 65%;
    }

    .output-container_div{
        padding: 1.5rem 0;
        height: 100%;
    }
    
    .output-container img {
        display: none;
    }

    .copy-text-button {
        margin-top: .5rem;
        width: auto;
    }

}



@media screen and (min-width: 768px) {

    .output-container,
    .header,
    .principal-container {
        margin: 0 40px;
        padding: 0;
        display: block;
    }
    .input-text_container{
        height: 70%;
    }

    .output-container {
        height: auto;
    }


    .output-container_div {
        height: 60%;
        margin: 20px auto;
        width: auto;
    }


    .buttons-container {
        flex-direction: row;
        gap: 1rem;
    }

    .button{
        margin: 0;
        flex-grow: 1;
    }

    .copy-text-button {
        width: 89%;
        margin: 20px 30px;
    }

}

@media screen and (min-width:1024px){
    .output-container,
    .header,
    .principal-container {
        margin: 0 1rem;
    }
    .principal-container{
        display: inline-block;
        width: 55%;
        margin-left: 100px ;
    }

    .input-text_container{
        height: 60%;
    }
    .output-container{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 90%;
    }
    .output-container img { 
        width: 60%;
        margin: auto;
        display: block;
    }
    .output-container_div{
        height: 100%;
    }
}



/*ANIMACIONES*/

